@import url("icons/flaticon.css");

* {
  margin: 0;
  padding: 0;
  cursor: none;
}

html,
body {
  height: 480px;
  width: 800px;
  overflow: hidden;
  background: purple;
}

body {
  display: grid;
  background: black;
  grid-template-columns: 1fr;
}

*,
*:focus,
*.active {
  outline: none;
}

#scenes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#scenes .scene {
  display: block;
  flex: 0 0 auto;
  text-align: center;
  padding: 10px 10px 0 10px;
  background: black;
  border: none;
  color: #777;
  font-size: 70px;
  line-height: 1;
  border-radius: 10px;
}

#scenes .scene[data-active="true"] {
  box-shadow: 0 0 10px 10px inset white, 0 0 10px 10px white;
}

#scenes .scene img {
  width: 50px;
}

#wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#weather {
  display: flex;
}

#racksAndTime {
  flex: 0 0 324px;
  display: flex;
}

#clock {
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock .time {
  font-size: 80px;
  font-family: monospace;
}

#clock .message {
  font-size: 40px;
  font-family: sans-serif;
}

#map {
  flex: 0 0 auto;
}

#map line {
  stroke: #ccc;
}

#map line.ring2 {
  stroke-width: 2;
  stroke-linecap: square;
}

#map path.river {
  stroke: rgb(103, 150, 231);
  fill: none;
  stroke-width: 2;
  stroke-linecap: square;
}

#map path.home {
  fill: rgb(255, 240, 158);
  stroke: orange;
  stroke-width: 2;
}

#map circle.bike-circle {
  fill: white;
  stroke: black;
  stroke-width: 0.5;
}

#map text.bike-text {
  font-size: 4px;
}
