
* {
  margin: 0;
  padding: 0;
  cursor: none;
}
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: white;
}

#scenes {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#scenes .scene {
  display: block;
  flex: 1 0 auto;
  text-align: center;
  padding: 25px;
  background: #223;
  border: none;
  color: #777;
  font-weight: bold;
}

#meteogram-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#meteogram {
  /*width: 489px;*/
  width: 771px;
}

#map {
}

#map line {
  stroke: black;
}

#map line.ring2 {
  stroke-width: 2;
}

#map path.river {
  stroke: #139;
  fill: none;
  stroke-width: 2;
  stroke-linecap: square;
}

#map path.home {
  fill: gold;
}

#map circle.bike-circle {
  fill: white;
  stroke: black;
  stroke-width: 0.5;
}

#map text.bike-text {
  font-size: 4px;
}